<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Visualizing Uncertainty</title>

    <!-- Bootstrap -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../css/portfolio-item.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style>
      #outer-container {
        max-width: 1340px;
      }
    </style>
  </head>
  <body>

    <!-- Page Content -->
    <div class="container">

        <!-- Portfolio Item Heading -->
        <div class="row">
            <div class="col-lg-12"><h1 class="page-header">Dream 1. Universal Language. The Author dreaming <small>Francisco de Goya y Lucientes </small>                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Portfolio Item Row -->
        <div class="row">

            <div class="col-md-8">
<img class="img-fluid" src="../img/237.jpg" alt=""></div><div class="col-md-4"><h3>drawing <small><a href="https://www.museodelprado.es/en/the-collection/art-work/dream-1-universal-language-the-author-dreaming/66035ec0-f635-4dc1-9bd9-ecce857e254c">[source]</a></small></h3><p>large bat over sleeping figure, dark areas & empty space, drawing for print, sense of handdrawn touch, parallel lines, areas not filled in, dream, unease</p><h4>Details</h4><ul><li>medium: drawing, black chalk, pencil, iron gall ink on dark yellow laid paper</li><li>art movement: representation</li><li>year: 1797</li><li>size: 25 x 17 cm</li>            <p></p>
            </div>

        </div>
        <!-- /.row -->

        <!-- Related Projects Row -->
        <div class="row">

            <div class="col-lg-12">
                <h3 class="page-header">related work:</h3>
            </div>
<div class="col-sm-3 col-xs-6"><a href="35.html"><img class="img-fluid portfolio-item" src="../img/35.jpg" alt=""></a></div><div class="col-sm-3 col-xs-6"><a href="56.html"><img class="img-fluid portfolio-item" src="../img/56.jpg" alt=""></a></div><div class="col-sm-3 col-xs-6"><a href="245.html"><img class="img-fluid portfolio-item" src="../img/245.jpg" alt=""></a></div><div class="col-sm-3 col-xs-6"><a href="246.html"><img class="img-fluid portfolio-item" src="../img/246.jpg" alt=""></a></div></div><!-- /.row --><div class="row"><div class="col-sm-3 col-xs-6"><a href="338.html"><img class="img-fluid portfolio-item" src="../img/338.jpg" alt=""></a></div><div class="col-sm-3 col-xs-6"><a href="380.html"><img class="img-fluid portfolio-item" src="../img/380.jpg" alt=""></a></div>        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
<!--                     <p>Copyright &copy; Your Website 2014</p> -->
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../js/bootstrap.min.js"></script>
  </body>
</html>