<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Visualizing Uncertainty</title>

    <!-- Bootstrap -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../css/portfolio-item.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style>
      #outer-container {
        max-width: 1340px;
      }
    </style>
  </head>
  <body>

    <!-- Page Content -->
    <div class="container">

        <!-- Portfolio Item Heading -->
        <div class="row">
            <div class="col-lg-12"><h1 class="page-header">Toilet  <small>León Ferrari</small>                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Portfolio Item Row -->
        <div class="row">

            <div class="col-md-8">
<img class="img-fluid" src="../img/37.jpg" alt=""></div><div class="col-md-4"><h3>print <small><a href="http://www.tate.org.uk/art/artworks/ferrari-toilet-p79706">[source]</a></small></h3><p>puzzling plan of multiple, repeated, letraset icons, labyrinthine, complex, map, spaces, multiple recurring details, hard to tell what it is</p><h4>Details</h4><ul><li>medium: print, blueprint on paper</li><li>art movement: postminimal</li><li>year: 1982</li><li>size: 100 x 100 cm</li>            <p></p>
            </div>

        </div>
        <!-- /.row -->

        <!-- Related Projects Row -->
        <div class="row">

            <div class="col-lg-12">
                <h3 class="page-header">related work:</h3>
            </div>
<div class="col-sm-3 col-xs-6"><a href="154.html"><img class="img-fluid portfolio-item" src="../img/154.jpg" alt=""></a></div><div class="col-sm-3 col-xs-6"><a href="261.html"><img class="img-fluid portfolio-item" src="../img/261.jpg" alt=""></a></div><div class="col-sm-3 col-xs-6"><a href="305.html"><img class="img-fluid portfolio-item" src="../img/305.jpg" alt=""></a></div><div class="col-sm-3 col-xs-6"><a href="341.html"><img class="img-fluid portfolio-item" src="../img/341.jpg" alt=""></a></div></div><!-- /.row --><div class="row">        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
<!--                     <p>Copyright &copy; Your Website 2014</p> -->
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../js/bootstrap.min.js"></script>
  </body>
</html>