<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Visualizing Uncertainty</title>

    <!-- Bootstrap -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../css/portfolio-item.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style>
      #outer-container {
        max-width: 1340px;
      }
    </style>
  </head>
  <body>

    <!-- Page Content -->
    <div class="container">

        <!-- Portfolio Item Heading -->
        <div class="row">
            <div class="col-lg-12"><h1 class="page-header">Break Point  <small>Fiona Banner</small>                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Portfolio Item Row -->
        <div class="row">

            <div class="col-md-8">
<img class="img-fluid" src="../img/7.jpg" alt=""></div><div class="col-md-4"><h3>painting <small><a href="http://www.tate.org.uk/art/artists/fiona-banner-2687">[source]</a></small></h3><p>ambiguity to do with reading text: placement of rows & of letters placed closer tog. further down, overlapping, textural handmade quality. Uncertainty occurs where the letters run over each other and the lines get denser the further down you go, to a point of being unable to read the words</p><h4>Details</h4><ul><li>medium: painting, marker pen, acrylic on canvas</li><li>art movement: conceptual</li><li>year: 1998</li><li>size: 274 x 427 x 6 cm</li>            <p></p>
            </div>

        </div>
        <!-- /.row -->

        <!-- Related Projects Row -->
        <div class="row">

            <div class="col-lg-12">
                <h3 class="page-header">related work:</h3>
            </div>
<div class="col-sm-3 col-xs-6"><a href="47.html"><img class="img-fluid portfolio-item" src="../img/47.jpg" alt=""></a></div><div class="col-sm-3 col-xs-6"><a href="249.html"><img class="img-fluid portfolio-item" src="../img/249.jpg" alt=""></a></div><div class="col-sm-3 col-xs-6"><a href="324.html"><img class="img-fluid portfolio-item" src="../img/324.jpg" alt=""></a></div>        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
<!--                     <p>Copyright &copy; Your Website 2014</p> -->
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../js/bootstrap.min.js"></script>
  </body>
</html>