#main {
	padding-top: 55px; 
}

#button-pl:hover {
/*.btn-outline-dark:hover {*/
    background-color: red;
    background: red; 
}

#five {
	background: #54278f;
	display: block; /*edk*/
	padding-left:25px; /*edk*/
	/*background-image: linear-gradient(top, red, red 70%, transparent 70%, transparent 100%)*/
}

#four {
	background: #756bb1;
	display: block; /*edk*/
	padding-left:25px; /*edk*/
}

#three {
	background: #9e9ac8;
	display: block; /*edk*/
	padding-left:25px; /*edk*/
}

#two {
	background: #cbc9e2;
	display: block; /*edk*/
	padding-left:25px; /*edk*/
}

#one {
	background: #f2f0f7;
	display: block; /*edk*/
	padding-left:25px; /*edk*/
}

#fiveDis {
	background: #fff;
	display: block; /*edk*/
	padding-left:25px; /*edk*/
	/*background-image: linear-gradient(top, red, red 70%, transparent 70%, transparent 100%)*/
}

#fourDis {
	background: #fff;
	display: block; /*edk*/
	padding-left:25px; /*edk*/
}

#threeDis {
	background: #fff;
	display: block; /*edk*/
	padding-left:25px; /*edk*/
}

#twoDis {
	background: #fff;
	display: block; /*edk*/
	padding-left:25px; /*edk*/
}

#oneDis {
	background: #fff;
	display: block; /*edk*/
	padding-left:25px; /*edk*/
}

#nots {
	display: block; /*edk*/
	padding-left:25px; /*edk*/
	/*background: #cccccc;*/
}

/* begin edk*/
#five a, #four a, #three a, #two a, #one a, #nots a {
	background:#fff;
	padding-left:8px;
}
#five a:hover, #four a:hover, #three a:hover, #two a:hover, #one a:hover {
	background:#f6f6f6;
}

/*fix that you can hover on just the left part*/
#nots a:hover, #nots:hover {
/*#nots:hover {*/
	background: red;
}

#fiveDis a, #fourDis a, #threeDis a, #twoDis a, #oneDis a, #notsDis a {
	background:#fff;
	padding-left:8px;
}

a.disabled {
	cursor: not-allowed; 
}

/*#button-xt {
	transform: rotate(45deg);
     width: 100px;
}*/

/*#button-xt:after{
  content:"";
  position:absolute;
  border-top:1px solid red;
  width:100%;
  transform: rotate(45deg);
  transform-origin: 0% 0%;
}*/

.b-actions {
	padding: 15px 0px;
}

#theresMore {
	padding: 15px 0px;
}


/*#button-xt {
	transform: rotate(45deg);
     width: 100px;
}*/

/* Use this to change behavior of a href */
/*#two {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  color: black;
}*/


/*#five a:hover, #four a:hover, #three a:hover, #two a:hover, #one a:hover {
	background:#f6f6f6;
}
*/
/* end edk*/

/*#main {
        max-width: 1340px;
}*/

#filterss {
	padding-top: 20px; 
}

img {
    max-width: 360px;
    height: auto;
    padding-top: 25px;
}

.row.display-flex {
  display: flex;
  flex-wrap: wrap;
}
.row.display-flex > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

/*.btn.btn-outline-dark:hover,
.btn.btn-outline-dark:focus,
.btn.btn-outline-dark:active,
.btn.btn-outline-dark.active {
  color: #black;
  background-color: pink;
  border-color: pink;
}
*/

/*.btn-outline-dark:hover {
  color: black;
  background-color: black;
  border-color: black;
}*/

/* EDK - BEGIN DIAGONAL LINE FOR BUTTONS */

.btn-outline-dark.dropdown-toggle.diag {
  background: linear-gradient(to top right, #fff calc(50% - 1px), #f00, #fff calc(50% + 1px) );
}
.btn-outline-dark.dropdown-toggle.diag:hover {
	background:#f00;
	color:#fff;
}

.hoverr {
	background:#f00;
	color:#fff;	
}

.btn:focus {
  outline: none;
}

/* EDK - END DIAGONAL LINE FOR BUTTONS */

