/*.line {
  fill: none;
}*/

p, h3 {
  font-family: 'Open Sans', sans-serif;
}

h1, h2 {
  font-family: 'Open Sans', sans-serif;
  /*font-size: 60%; */
  /*font-family: 'Merriweather', serif;*/
}

body {
  /*background-color: grey;*/
}

#gz0 svg, #gz1 svg, #pz0 svg, #pz1 svg, #lz0 svg, #lz1 svg, #az0 svg, #az1 svg, #plr svg {
	border: solid 1px #eee;
}

#tryGrad {
	fill: red;
	fill-opacity: 0.5;
}

.arc {
	font-family: sans-serif;
	font-size: 12px;
	font-weight: bold; 
	fill: white;
}

/*h2 {
	font-family: Times;
}*/

/*#lz0, #lz1, #pz0, #pz1, #az0, #az1 {
  background-color: white;
}*/



/*font-family: 'Merriweather', serif;*/
/*font-family: 'Open Sans', sans-serif;*/